* {
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    scroll-behavior: smooth;
}

#fp-nav ul li a.active span {
    background: transparent;
    box-sizing: border-box;
    border: 2px solid #212121;
}

#fp-nav ul li a.active:hover span {
    background-color: #212121;
}

.hidden {
    display: none;
}

.loading-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
}

.loading-animation {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 25%, #e5f403);
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loading-animation::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #fff;
    border-radius: 50%;
    z-index: 100;
}
.loading-animation::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(45deg, transparent, transparent 25%, #e5f403);
    border-radius: 50%;
    z-index: 1;
    filter: blur(30px);
}

li {
    list-style-type: none;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: #111111;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    transition: 0.5s;
    text-decoration: none;
    color: orange;
}

.border-gradient {
    border: 3px solid;
    border-image-slice: 1;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    position: fixed;
    width: 100%;
    height: 50px;
    top: -47px;
}

.border-gradient-orange{
    border-image-source: linear-gradient(to left,#292929 25%, #FFAA33 25% 75%, #EF8031 75% );
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.main-container h1{
    font-size: 60px;
    margin: 0;
    padding-top: 400px;
    z-index: 1;
}
.chart-svg {
    height: 90px;
    position: absolute;
}
.main-container h1 span {
    color: #2ec4b6;
}
#candleChart {
    right: 150px;
    bottom: 270px;
    opacity: 80%;
}
#cakeChart {
    left: 400px;
    top: 90px;
    opacity: 55%;
}
#genericChart {
    left: 600px;
    bottom: 180px;
    opacity: 80%;
}
#cake2Chart {
    right: 380px;
    top: 180px;
    opacity: 70%;
}
#candle2Chart {
    left: 200px;
    bottom: 380px;
    opacity: 30%;
}

.section-container {
    height: 100vh;
}

.card-container {
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: auto;
}
.color-orange .card-container {
    padding-top: 150px;
}

.color-orange {
    background: #FFBA89;
}

.color-cyan {
    background: #C6F4FA;
}

.wave-svg {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.card {
    background-color: rgb(255, 255, 255, 1);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 20px;
    align-items: left;
    box-shadow: 0px 5px 7px #1f1f1f;
}

.card svg {
    height: 125px;
    margin: 20px;
    margin-bottom: 0px;
    transition: 0.5s;
}
.light-on {
    transform: translate(0,-10px);
    fill: #82d6cc;
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #b3fffb);
}
.card h2 {
    font-size: 25px;
    margin: 0px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 40px;
    color: #ff9913;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
.card ul {
    padding: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 0;
}
.card button {
    border-radius: 15px;
    height: 42px;
    border: none;
    width: 34%;
    margin: auto;
    background-color: #ffb24d;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}
button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px #ffb85b;
}
.card ul li {
    word-spacing: 30px;
    margin: 10px;
    color: rgb(168, 168, 168);
    font-size: 15px;
}

.chart-container {
    margin: auto;
}

.chart {
    padding: 10px 40px 30px 30px;
    width: 550px;
    margin: 50px 0;
}
.chart h1 {
    margin-bottom: 0;
    padding: 0;
    text-transform: capitalize;
    color: #2ec4b6;
}
.chart ul {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

@media (max-width : 1200px) {
    .card {
        flex-direction: row;
    }

    .logo {
        display: none;
    }

    .menu {
        display: none;
    }
    
    .main-container h1 {
        font-size: 40px;
        padding-top: 0px;
        top: 0;
        margin: auto;
        padding-bottom: 0px;
    }

    .section-container {
        height: 100%;
    }

    .main-container {
        height: 100vh;
        padding-top: 0px;
    }

    .card-container {
        flex-direction: column;
        width: 100%;
    }

    .card {
        display: relative;
        border-radius: 60px;
        margin: 0px;
        width: 80%;
        position: relative;
        bottom: 100px;
        margin-bottom: 80px;
    }

    .card h2 {
        margin-bottom: 30px;
    }

    .card img {
        margin-top: 25px;
    }

    .card ul {
        padding: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .chart-svg {
        display: none;
    }

    
    .chart-container {
        margin: 0 auto;
        width: 100%;
    }

    .chart {
        bottom: 0px;
        padding: 35px;
        margin: 0 auto;
        margin-top: 80px;
        width: 80%;
        flex-direction: column;
    }
}

@media (max-width : 800px) {
    .card {
        flex-direction: column;
    }

    .chart h1 {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .chart ul {
        flex-direction: column;
        padding: 0;
        line-height: 1px;
    }
}